apiVersion: apps/v1
kind: Deployment
metadata:
  name: terminus-scheduler
  labels:
    {{- include "terminus.labels" . | nindent 4 }}
    app: terminus-scheduler
spec:
  selector:
    matchLabels:
      app: terminus-scheduler
  replicas: {{ .Values.scheduler.replicas }}
  template:
    metadata:
      labels:
        app: terminus-scheduler
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      - key: node-role.kubernetes.io/control-plane
        effect: NoSchedule
      serviceAccountName: {{ .Values.serviceAccount.name }}
      containers:
      - name: terminus-scheduler
        image: "{{ .Values.images.scheduler.repository }}:{{ .Values.images.scheduler.tag }}"
        imagePullPolicy: {{ .Values.images.scheduler.pullPolicy }}
        command:
        - /usr/bin/terminus-scheduler
        args:
         - -v={{ .Values.scheduler.logLevel }}
         - --bind-address=0.0.0.0
         - --leader-elect={{ .Values.scheduler.leaderElect }}
         - --leader-elect-resource-name=terminus-scheduler
         - --config=/etc/terminus/terminus-scheduler-config.yaml
        volumeMounts:
        - mountPath: /etc/terminus/
          name: terminus-scheduler-config
          readOnly: true
      volumes:
      - configMap:
          defaultMode: 420
          items:
          - key: terminus-scheduler-config.yaml
            path: terminus-scheduler-config.yaml
          name: terminus-scheduler-config
        name: terminus-scheduler-config
